<!DOCTYPE html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <div id="page" class="page page-homepage">
      <header class="masthead">
        <div class="section-inner">
          <h1 class="logo giga"><a href="/">{{ .Site.Title }}</a></h1>
          <h2 class="h5 subhead">{{ .Site.Params.description }}</h2>
        </div>
      </header>
      <article class="article-post article-list">
        <div class="section-inner">
          <ul class="list-articles">
            {{ range .Data.Pages }}
              <li>
                <a href="{{ .Permalink }}" title="{{ .Title }}">
                  <h3 class="title">{{ .Title }}</h3>
                  {{ partial "metadata.html" . }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </article>
      <hr>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
