.metadata {
  margin: auto auto 1.5em;
}
.metadata .author:before {
  content: "Quote by ";
  display: inline;
}
.metadata .pubdate {
  display: block;
}
.metadata .pubdate:before {
  content: "Published at ";
  display: inline;
}
.metadata .editdate:before {
  content: "Updated at ";
  display: inline;
}
